<ul class="brew-list">
  {{#each this.model.beer as |beer|}}
    <li class="brew-list-item">
      {{beer.name}} 
      <br/>  
      {{beer.alcoholPercentage}} % ABV
      
      <StarRating
        class="fr"
        @rating={{beer.rating}}
        @item={{beer}}
        @onClick={{fn this.updateRating beer}}
      />
    </li>
  {{else}}
    <li class="tc">
      No {{this.model.title}} Beers yet, why don't you <a href="#" {{on "click" this.addBeer}}>create one?</a>
    </li>
  {{/each}}
</ul>

<div class="brew-new-label">
  {{#if this.isAddingBeer}}
    <form class="brew-inline-form" {{on "submit" this.saveBeer}}>
      <Input
      @type="text"
      @value={{this.newBeerName}}
      class="brew-input"
      placeholder="New Beer"
      />

      <Input
      @type="number"
      @value={{this.newBeerPercentage}}
      class="brew-input"
      placeholder="Beer Percentage"
      />

    <div class="brew-inline-form-group ml-auto">
      <button type="submit" class="brew-action-button" disabled={{this.isAddButtonDisabled}}>Add</button>
      <button class="brew-cancel-icon" {{on "click" this.cancelAddBeer}}>
        {{fa-icon "times"}}
      </button>
    </div>
    </form>
  {{else}}
    <label {{on "click" this.addBeer}}>
      {{fa-icon "plus"}}
      <span class="ml1">Add new Beer</span>
    </label>
  {{/if}}
</div>
