<Input
  @type="text"
  @value={{this.search}}
  class="brew-input"
  placeholder="Search for beer"
/>
{{this.searchItems}}
{{log search}}
{{log searchItems}}
<ul class="list pl3">
  {{#each this.model as |beer|}}
    <li>
      Beer Name: 
      {{beer.name}}
      <br/>
      Type:
      <em>{{beer.type}}</em>
      <br/>
      Alcohol Percentage:
      <span >{{beer.alcoholPercentage}} %</span>
    </li>
  {{/each}}
</ul>
