<SearchBar @model={{this.model}} @searchTerm='Search by beer name' as |search|>
  {{search}}
</SearchBar>
{{this.searchItems}}
{{log search}}
{{log searchItems}}
<ul class="list pl3">
  {{#each this.model as |beer|}}
    <li>
      Beer Name: 
      {{beer.name}}
      <br/>
      Type:
      <em>{{beer.type}}</em>
      <br/>
      Alcohol Percentage:
      <span >{{beer.alcoholPercentage}} %</span>
    </li>
  {{/each}}
</ul>
