<SearchBar class="pb3" @model={{this.model}} @searchTerm="Search by beer name" as |search|>
  <br>
  {{#each search as |item|}}
    {{#if item.length}}
      <span class="underline pb3">Search Results</span>
    {{/if}}
    <li class="list pl3">{{item}}</li>
  {{/each}}
</SearchBar>
<ul class="list pl3">
  {{#each this.model as |beer|}}
    <li>
      Beer Name: 
      {{beer.name}}
      <br>
      Type:
      <em>{{beer.type}}</em>
      <br>
      Alcohol Percentage:
      <span >{{beer.alcoholPercentage}}% ABV</span>
    </li>
  {{/each}}
</ul>
