<div class="brew-sidebar">
  <ul class="list pl3">
    {{#each this.model as |brewery|}}
      <li class='brew-list-item'>
        <LinkTo @route='brewery' @model={{brewery.id}} class='brew-band-link'>
          {{brewery.name}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
  <div class="brew-new-label">
    {{#if this.isAddingBrewery}}
      <form class="brew-inline-form" {{on "submit" this.saveBrewery}}>
        <Input
        @type="text"
        @value={{this.newBreweryName}}
        class="brew-input"
        placeholder="New brewery"
        data-test-brew="new-band-input"
        />
        <button
        type="submit"
        class="brew-action-button pointer"
        disabled={{this.isAddButtonDisabled}}>
        Add
        </button>

        <button
        class="brew-cancel-icon"
        {{on "click" this.cancelAddBrewery}}>
        {{fa-icon "times"}}
        </button>
    </form>
    {{else}}
      <div class="pointer">
        <label {{on "click" this.addBrewery}}>
        {{fa-icon "plus"}} <span class="ml1 pointer">Add new brewery</span>
        </label>
      </div>
    {{/if}}
  </div>
</div>
<div class="brew-main-panel">
  {{outlet}}
</div>
